.container {
     display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 100px);
  font-size: 20px;

   grid-template-areas:
    "div1 div2 div3 div3 div4"
    "div6 div7 div14 div14 div5"
    "div8 div9 div14 div14 div5"
    "div10 div11 div14 div14 div5"
    "div12 div13 div14 div14 div5";
}

.div1 {
    background-color: rgb(255, 127, 127);
    grid-area: div1;
}
.div2 {
    background-color: rgb(232, 184, 255);
    grid-area: div2;
}
.div3 {
    background-color: rgb(209, 255, 191);
    grid-area: div3;
}
.div4 {
    background-color: rgb(255, 140, 140);
    grid-area: div4;
}
.div5 {
    background-color: rgb(255, 142, 227);
    grid-area: div5;
}
.div6 {
    background-color: rgb(88, 255, 199);
    grid-area: div6;
}
.div7 {
    background-color: rgb(253, 182, 255);
    grid-area: div7;
}
.div8 {
    background-color: rgb(127, 129, 255);
    grid-area: div8;
}
.div9 {
    background-color: rgb(87, 156, 96);
    grid-area: div9;
}
.div10 {
    background-color: rgb(255, 185, 127);
    grid-area: div10;
}
.div11 {
    background-color: rgb(255, 127, 197);
    grid-area: div11;
}
.div12 {
    background-color: rgb(89, 175, 31);
    grid-area: div12;
}
.div13 {
    background-color: rgb(253, 255, 127);
    grid-area: div13;
}
.div14 {
    background-color: rgb(255, 127, 159);
    grid-area: div14;
}
